.navbar {
    background: #282e34fc;
}

.navbar-nav li {
    font-family: 'Cardo', serif;
    text-indent: 17px;
    line-height: 33px;
}
.navbar-nav li a {
    text-align: right;
    display: block;
  
}

.navbar-nav li a:hover {
    /* text-decoration: none; */
    background: white;
}


.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #282e34fc;
}

#main{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Cardo', serif;
}


/* font-family: 'Cardo', serif; Perfect for pastor
font-family: 'Vidaloka', serif;
font-family: 'Lalezar', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Norican', cursive; */