.navbar {
    background: #282e34fc;
}

.navbar-nav li {
    font-family: 'Changa', sans-serif;    
    text-indent: 17px;
    line-height: 33px;
}
.navbar-nav li a {
    text-align: right;
    display: block;
  
}

.navbar-nav li a:hover {
    text-decoration: none;
    background: #ffffff;
}


.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #282e34fc;
}

#main{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
}


