.pic{
    text-align: center;
    margin-bottom: 10px;
}

#title{
    font-family: 'Cardo', serif;
}

p,.row{
    font-family: 'Sumana', serif;
}

#space{
    margin-right: 5px;
    margin-top: 10px;
}