.hero {
  padding: 0;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  display: block;
  opacity: .1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: black; */
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2, .hero h3, .hero h4{
    font-family: 'Oleo Script', cursive;
  color: #ffffff;
}

.hero h1, .hero h2, .hero h3, .hero h4 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}




@media screen and (min-width:360px) and (max-width:439px){
  .cdd{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding-top: 10%;
    padding: 2% 2%;
    font-family: 'Permanent Marker', cursive;
  }
}